<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Profil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-img src="assets/images/user.png"></ion-img>
  </div>

  <div>
    <p>Voici vos Informations</p>
  </div>
  <div>
    <ion-item>
      <ion-label >Nom : </ion-label>
    </ion-item>

    <ion-item>
      <ion-label >Prénom : </ion-label>
    </ion-item>

    <ion-item>
      <ion-label >E-mail : </ion-label>
    </ion-item>

    <ion-item>
      <ion-label >Login : </ion-label>
    </ion-item>
  </div>
</ion-content>
