<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Recherche</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div>
    <ion-img src="assets/images/search.png"></ion-img>
  </div>

  <div>
      <ion-searchbar (ionInput)="filterlist($event)" value="Chercher un utilisateur"></ion-searchbar>
  </div>
  <ion-item>
    <ion-label><b>Nom </b> </ion-label>  
    <ion-label><b>Prénom </b> </ion-label>
</ion-item>
  <ion-item  *ngFor="let liste of list">
    <ion-label>{{liste.nom}}</ion-label>
    <ion-label>{{liste.prenom}}</ion-label>
  </ion-item>
</ion-content>
 