<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Ré-installé le password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div>
    <ion-img src="assets/images/update.png"></ion-img>
  </div>

  <form class="form" [formGroup]="saveForm" (ngSubmit)="resetPassword()">
    <ion-item lines="full">
      <ion-label position="floating">Ancien mot de passe</ion-label>
      <ion-input type="password"  name="password" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Nouveau mot de passe</ion-label>
      <ion-input type="password"  name="password_" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Confirmer de nouveau</ion-label>
      <ion-input type="password"  name="password__" required></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button type="submit" color="primary" shape="round">CONFIRMER</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
