<ion-header [translucent]="true" class="ion-no-border" id="header">
  <ion-toolbar>
    <ion-title>
      ORANGE DIGITAL KALANSO
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  

  <div id="container">
    <strong>BIENVENUE A</strong>
    
    <div>
      <ion-img src="assets/images/odk.png"></ion-img>
    </div>
   
    <ion-button fill="solid" shape="round" id="login-btn" [routerLink]="['/connexion']">LOGIN</ion-button>
    <ion-button fill="solid" shape="round" color="dark" class="register-btn" [routerLink]="['/register']">S'INSCRIRE</ion-button>
  </div>
</ion-content>
