<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Crée un compte</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="padding">
    <div>
        <ion-img src="assets/images/user.png"></ion-img>
      </div>
    <form class="form" [formGroup]="saveForm" (ngSubmit)="enregistrer()">
      <ion-item lines="full">

        <ion-input  type="text" formControlName="nom" placeholder="Nom" required>
          <ion-icon name="person"></ion-icon>
        </ion-input>
      </ion-item>

      <ion-item lines="full">
        <ion-input  type="text" formControlName="prenom" placeholder="Prénom" required>
          <ion-icon name="person"></ion-icon>
        </ion-input>
      </ion-item>

      <ion-item lines="full">
        <ion-input  type="email" formControlName="email" placeholder="E-mail"  required>
          <ion-icon name="mail"></ion-icon>
        </ion-input>
      </ion-item>


      <ion-item lines="full">
        <ion-input  type="password"  formControlName="password" placeholder="Mot de passe"  required>
          <ion-icon name="key"></ion-icon>
        </ion-input>
      </ion-item>


      <ion-row>
        <ion-col>
          <ion-button [disabled]="!saveForm.valid" type="submit" color="primary" shape="round">CREER</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </div>
</ion-content>
