<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Crée un compte</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="padding">
    <div>
        <ion-img src="assets/images/user.png"></ion-img>
      </div>
    <form>
      <ion-item lines="full">
        <ion-label position="floating">Nom</ion-label>
        <ion-input  type="text" name="nom" required></ion-input>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="floating">Prénom</ion-label>
        <ion-input  type="text" name="prenom" required></ion-input>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="floating">Login</ion-label>
        <ion-input  type="email" name="login" required></ion-input>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="floating">Password</ion-label>
        <ion-input  type="password"  name="password" required></ion-input>
      </ion-item>

      <ion-row>
        <ion-col>
          <ion-button type="submit" color="primary" shape="round">CREER</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </div>
</ion-content>
